// Add your own CSS here!
:root {
  --light: #faf8f8;
  --light2: #eae8e8;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --light2: #161613 !important;
  --dark: #fbfffe !important;
  --secondary: #6b879a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
}

.note {
	margin: 0;
	padding: 0;
}

.note-bg {
	background-color: var(--background-primary-alt);
	padding: 5px 5px 5px 20px;
	border-radius: 0px 4px 4px 4px;
	margin: 0;
}

.note-head {
	width: fit-content;
	line-height: 20px;
	color: var(--background-primary-alt);
	font-weight: 600;
	font-style: italic;
	font-size: 80%;
	text-align: center;
	margin: 0;
	padding: 0px 10px 0px 10px;
	border-radius: 4px 4px 0px 0px;
}

table {
  border-spacing: 0px;
}

td, th {
  border: solid var(--outlinegray) 1px;
}

.yellow {
  background-color: transparent;
  color: #FBF595;
}

.orange {
  background-color: transparent;
  color: #FCDA90;
}

.peach {
  background-color: transparent;
  color: #FBCC96;
}

.grape {
  background-color: transparent;
  color: #F7AF97;
}

.salmon {
  background-color: transparent;
  color: #F7A097;
}

.rose {
  background-color: transparent;
  color: #F7B0B6;
}

.pink {
  background-color: transparent;
  color: #F59FBC;
}

.fushia {
  background-color: transparent;
  color: #E0AACC;
}

.violet {
  background-color: transparent;
  color: #CDA4CC;
}

.purple {
  background-color: transparent;
  color: #B6A4CC;
}

.indigo {
  background-color: transparent;
  color: #92AAD0;
}

.blue {
  background-color: transparent;
  color: #7FBBDF;
}

.babyblue {
  background-color: transparent;
  color: #8DD7F2;
}

.aqua {
  background-color: transparent;
  color: #A6ECF2;
}

.teal {
  background-color: transparent;
  color: #99DBDA;
}

.seagreen {
  background-color: transparent;
  color: #92D6BD;
}

.springgreen {
  background-color: transparent;
  color: #9ED9A1;
}

.olive {
  background-color: transparent;
  color: #C2E2A3;
}

.chartreuse {
  background-color: transparent;
  color: #E2EC96;
}

.highlight-yellow {
  padding: 0.15em;
  border-radius: 0.2em;
  background-color: #FBF595;
  color: var(--light);
}

.highlight-orange {
  padding: 0.15em;
  border-radius: 0.2em;
  background-color: #FCDA90;
  color: var(--light);
}

.highlight-peach {
  padding: 0.15em;
  border-radius: 0.2em;
  background-color: #FBCC96;
  color: var(--light);
}

.highlight-grape {
  padding: 0.15em;
  border-radius: 0.2em;
  background-color: #F7AF97;
  color: var(--light);
}

.highlight-salmon {
  padding: 0.15em;
  border-radius: 0.2em;
  background-color: #F7A097;
  color: var(--light);
}

.highlight-rose {
  padding: 0.15em;
  border-radius: 0.2em;
  background-color: #F7B0B6;
  color: var(--light);
}

.highlight-pink {
  padding: 0.15em;
  border-radius: 0.2em;
  background-color: #F59FBC;
  color: var(--light);
}

.highlight-fushia {
  padding: 0.15em;
  border-radius: 0.2em;
  background-color: #E0AACC;
  color: var(--light);
}

.highlight-violet {
  padding: 0.15em;
  border-radius: 0.2em;
  background-color: #CDA4CC;
  color: var(--light);
}

.highlight-purple {
  padding: 0.15em;
  border-radius: 0.2em;
  background-color: #B6A4CC;
  color: var(--light);
}

.highlight-indigo {
  padding: 0.15em;
  border-radius: 0.2em;
  background-color: #92AAD0;
  color: var(--light);
}

.highlight-blue {
  padding: 0.15em;
  border-radius: 0.2em;
  background-color: #7FBBDF;
  color: var(--light);
}

.highlight-babyblue {
  padding: 0.15em;
  border-radius: 0.2em;
  background-color: #8DD7F2;
  color: var(--light);
}

.highlight-aqua {
  padding: 0.15em;
  border-radius: 0.2em;
  background-color: #A6ECF2;
  color: var(--light);
}

.highlight-teal {
  padding: 0.15em;
  border-radius: 0.2em;
  background-color: #99DBDA;
  color: var(--light);
}

.highlight-seagreen {
  padding: 0.15em;
  border-radius: 0.2em;
  background-color: #92D6BD;
  color: var(--light);
}

.highlight-springgreen {
  padding: 0.15em;
  border-radius: 0.2em;
  background-color: #9ED9A1;
  color: var(--light);
}

.highlight-olive {
  padding: 0.15em;
  border-radius: 0.2em;
  background-color: #C2E2A3;
  color: var(--light);
}

.highlight-chartreuse {
  padding: 0.15em;
  border-radius: 0.2em;
  background-color: #E2EC96;
  color: var(--light);
}
